--
-- PostgreSQL database dump
--

\restrict 0IgvugzxbBC98LOTe3yeh0Xt2n558J8EytHdDeZ1UxEwChcPQxlbeJNdOZA6jAM

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cars; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cars (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    make text NOT NULL,
    model text NOT NULL,
    year integer NOT NULL,
    plate_number text NOT NULL,
    color text,
    vin text,
    status text DEFAULT 'active'::text NOT NULL,
    assigned_driver_id uuid,
    insurance_expiry date,
    tech_inspection_expiry date,
    medical_inspection_expiry date,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT cars_status_check CHECK ((status = ANY (ARRAY['active'::text, 'maintenance'::text, 'retired'::text])))
);


ALTER TABLE public.cars OWNER TO postgres;

--
-- Name: logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    driver_id uuid NOT NULL,
    date date NOT NULL,
    start_time time without time zone,
    end_time time without time zone,
    revenue numeric DEFAULT 0 NOT NULL,
    trips_count integer DEFAULT 0,
    had_accident boolean DEFAULT false,
    notes text,
    created_at timestamp with time zone DEFAULT now(),
    kilometers integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.logs OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    full_name text NOT NULL,
    phone text NOT NULL,
    role text NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT users_role_check CHECK ((role = ANY (ARRAY['driver'::text, 'moderator'::text])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: cars; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cars (id, make, model, year, plate_number, color, vin, status, assigned_driver_id, insurance_expiry, tech_inspection_expiry, medical_inspection_expiry, created_at) FROM stdin;
f974058c-7b18-44e6-9030-8e098656620a	Lada	Granta	2026	1CDA12	BLACK	12312421312	active	c8133d20-4c10-4153-986c-79eca16f62cc	2026-06-03	2026-07-03	2027-05-05	2026-05-29 18:24:27.369491+00
\.


--
-- Data for Name: logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.logs (id, driver_id, date, start_time, end_time, revenue, trips_count, had_accident, notes, created_at, kilometers) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, password_hash, full_name, phone, role, is_active, created_at) FROM stdin;
3744f7c7-e6d8-4aaf-b7bb-7e82c96f45f1	Moder@ae.ru	$2a$10$aBG4cSHn5uA0LuZMcbt6QeujkyVgQ7cYTg4pCx4/9PIZyK/wZTuRO		Moder@ae.ru	moderator	t	2026-05-29 18:21:31.847409+00
c8133d20-4c10-4153-986c-79eca16f62cc	Vodila1@as.ru	$2a$10$NkVSTQM3yKLH7rIbYvweteIsEvl/qF1KiJSdBA5td9jnv24hxvDw2	╨Т╨╗╨░╨┤╨╕╨╝╨╕╤А ╨Ш╨▓╨░╨╜╨╛╨▓ ╨Р╨╜╤В╨╛╨╜╨╛╨▓╨╕╤З	Vodila@as.ru	driver	t	2026-05-29 18:21:18.874422+00
\.


--
-- Name: cars cars_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cars
    ADD CONSTRAINT cars_pkey PRIMARY KEY (id);


--
-- Name: cars cars_plate_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cars
    ADD CONSTRAINT cars_plate_number_key UNIQUE (plate_number);


--
-- Name: cars cars_vin_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cars
    ADD CONSTRAINT cars_vin_key UNIQUE (vin);


--
-- Name: logs logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logs
    ADD CONSTRAINT logs_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_cars_assigned; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cars_assigned ON public.cars USING btree (assigned_driver_id);


--
-- Name: idx_logs_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_logs_date ON public.logs USING btree (date);


--
-- Name: idx_logs_driver; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_logs_driver ON public.logs USING btree (driver_id);


--
-- Name: idx_logs_driver_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_logs_driver_id ON public.logs USING btree (driver_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: cars cars_assigned_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cars
    ADD CONSTRAINT cars_assigned_driver_id_fkey FOREIGN KEY (assigned_driver_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: logs logs_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.logs
    ADD CONSTRAINT logs_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 0IgvugzxbBC98LOTe3yeh0Xt2n558J8EytHdDeZ1UxEwChcPQxlbeJNdOZA6jAM

